<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Aspen RapidWeaver 8 Blog Style</string>
				<key>BannerIdentifier</key>
				<string>782EBEBC-FEF8-4B1F-AD8A-C6B989A94FE4</string>
				<key>BrowserTitle</key>
				<string>Blog Page - Marvel RapidWeaver 7 Theme</string>
				<key>CreatedDate</key>
				<date>2015-12-06T14:00:20Z</date>
				<key>CustomThemeName</key>
				<string>Aspen</string>
				<key>ID</key>
				<string>page12</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/burton/websites/Aspen/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-08-14T00:12:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/00b5f459d8eaf0331ae9186221bbbd40-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								kkCa9lAEM4QH
								LFl6yir2hw==
								</data>
								<key>Size</key>
								<integer>10388</integer>
							</dict>
							<key>files/542f9c4ecb0e21a0f892e1d1f79a1bde-9.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3Hwa3enNQBbC
								BUEoTT7MuA==
								</data>
								<key>Size</key>
								<integer>10448</integer>
							</dict>
							<key>files/adcdb97adfd2eccd0c710c40af3e8045-8.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Jxwdq3QnxXIk
								mCNFeLGuGA==
								</data>
								<key>Size</key>
								<integer>10426</integer>
							</dict>
							<key>files/archive-april-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+BaVw800J87D
								6KO12u92pw==
								</data>
								<key>Size</key>
								<integer>10811</integer>
							</dict>
							<key>files/archive-june-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								37GWrtQN4yln
								swkDKl9/3w==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>files/archive-march-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BsmB0uRKFNIE
								v5DF6hHO7g==
								</data>
								<key>Size</key>
								<integer>10952</integer>
							</dict>
							<key>files/archive-may-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zysFar1Zbo1K
								p61GEavcWw==
								</data>
								<key>Size</key>
								<integer>10780</integer>
							</dict>
							<key>files/artboard.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3PvxpvoHBYZC
								yS2CgzlwBg==
								</data>
								<key>Size</key>
								<integer>74647</integer>
							</dict>
							<key>files/camp1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vReiLLc7LHkX
								Crht9grTfw==
								</data>
								<key>Size</key>
								<integer>325517</integer>
							</dict>
							<key>files/camp2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5fEV32udojVv
								AhPn1qk6Aw==
								</data>
								<key>Size</key>
								<integer>204167</integer>
							</dict>
							<key>files/camp3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b0I/d4GH1kjd
								F5iCe6Qv3Q==
								</data>
								<key>Size</key>
								<integer>80400</integer>
							</dict>
							<key>files/camp4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v25ubXfWUs8G
								Wmctasipdg==
								</data>
								<key>Size</key>
								<integer>289900</integer>
							</dict>
							<key>files/category-beyond-the-trail.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MIPwSk3crbV4
								B31a8+Triw==
								</data>
								<key>Size</key>
								<integer>11133</integer>
							</dict>
							<key>files/category-camp-grounds.html</key>
							<dict>
								<key>Digest</key>
								<data>
								hI6gfgpTxiUJ
								q+aiR560qg==
								</data>
								<key>Size</key>
								<integer>11333</integer>
							</dict>
							<key>files/category-camping-gear.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cJM/VDU0T2gB
								5zs1/ZdAoA==
								</data>
								<key>Size</key>
								<integer>10365</integer>
							</dict>
							<key>files/category-good-times.html</key>
							<dict>
								<key>Digest</key>
								<data>
								x0gBgkUDqBe5
								Vh4ciUfRDA==
								</data>
								<key>Size</key>
								<integer>11329</integer>
							</dict>
							<key>files/category-omg.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9Wf2ShyBk9UZ
								Qtb1QIspnA==
								</data>
								<key>Size</key>
								<integer>10419</integer>
							</dict>
							<key>files/category-tent-life.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lI6nY7p1qNlr
								KjlKUkwc+w==
								</data>
								<key>Size</key>
								<integer>12775</integer>
							</dict>
							<key>files/da7b78ba37d0e3fa0776482025282990-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mUqjbGL13C0s
								hCIVgjWVSg==
								</data>
								<key>Size</key>
								<integer>10612</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								LES+7uhD46Cn
								+4HH+VTCDQ==
								</data>
								<key>Size</key>
								<integer>4605</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								x0usL8jjgxDc
								2gjz9qdZVg==
								</data>
								<key>Size</key>
								<integer>3309</integer>
							</dict>
							<key>files/tag-at-peace.html</key>
							<dict>
								<key>Digest</key>
								<data>
								04DK4xB9YHWT
								JXHckZ5kww==
								</data>
								<key>Size</key>
								<integer>11913</integer>
							</dict>
							<key>files/tag-outdoors.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xduYcAe/OMVs
								odqgsg94rw==
								</data>
								<key>Size</key>
								<integer>12926</integer>
							</dict>
							<key>files/tag-scared-straight.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5a1zCxZx+zWd
								R4rziZ4rwg==
								</data>
								<key>Size</key>
								<integer>10732</integer>
							</dict>
							<key>files/tag-unplug.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LuUqENuAg9H7
								VYepKIM6pA==
								</data>
								<key>Size</key>
								<integer>12902</integer>
							</dict>
							<key>files/tag-zen.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HpelzHl8PfWF
								05SXF6obfQ==
								</data>
								<key>Size</key>
								<integer>10876</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Oftt1Bfct036
								86G55yfcpQ==
								</data>
								<key>Size</key>
								<integer>13898</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page12</string>
						<key>SiteRoot</key>
						<string>pages/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
