<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Aspen Zoom Photo Album</string>
				<key>BannerIdentifier</key>
				<string>93B070BF-5872-4199-B919-DB8DB935C340</string>
				<key>BrowserTitle</key>
				<string>Photo Album - Aspen RapidWeaver 8 Theme</string>
				<key>CreatedDate</key>
				<date>2019-03-17T23:35:57Z</date>
				<key>CustomThemeName</key>
				<string>Aspen</string>
				<key>ID</key>
				<string>page8</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>aspen-a</string>
				<key>PageTitle</key>
				<string>Photo Album</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/burton/websites/Aspen/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-08-14T00:12:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iCE/Elj/mVY+
								JULw1ozgJg==
								</data>
								<key>Size</key>
								<integer>6916</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page8</string>
						<key>SiteRoot</key>
						<string>pages/photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
