<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>file:///Users/burton/websites/Aspen/</key>
					<false/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Aspen</key>
					<dict>
						<key>%color_aside_bg%</key>
						<string>rgba(32,38,42,1.00)</string>
						<key>%color_banner_grad_bottom%</key>
						<string>rgba(0,0,0,0.00)</string>
						<key>%color_banner_tint%</key>
						<string>rgba(29,33,35,0.50)</string>
						<key>%color_menu_btn_bg%</key>
						<string>rgba(120,38,46,1.00)</string>
						<key>%color_site_slogan_break%</key>
						<string>rgba(140,54,61,1.00)</string>
					</dict>
					<key>Offroad</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitle</key>
				<string>&lt;i&gt;Theme &lt;/i&gt; &lt;i&gt; Style&lt;/i&gt; &lt;i&gt; Options&lt;/i&gt;</string>
				<key>CustomSiteTitleUsed</key>
				<true/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>theme-styles</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>Hidden</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>PluginHasPerformedMigrationToSharedData</key>
				<true/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>ShouldEnableRobotTags</key>
				<true/>
				<key>ShouldEnableSocialTags</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>SidebarTitle</key>
				<string>Rapidweaver 8 Settings</string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Aspen</key>
					<array>
						<string>Footer.Center Align</string>
						<string>Hide Toggles.Hide Cartloom Cart</string>
						<string>Load Google Fonts.Montserrat</string>
						<string>Load Google Fonts.Work Sans</string>
						<string>Main Content - Font Family.System</string>
						<string>Main Content.Headlines - Bold</string>
						<string>Main Content.Headlines - H2 Center</string>
						<string>Main Headings - Font Family.Montserrat</string>
						<string>Navigation - Font Family.Work Sans</string>
						<string>Navigation.Bold</string>
						<string>Scroll Advisor.Hide</string>
						<string>Sidebar Bottom Angle.- 3%</string>
						<string>Sidebar Content.Headlines - Bold</string>
						<string>Sidebar Content.Import Image Column</string>
						<string>Sidebar Content.Show</string>
						<string>Sidebar Content.Split</string>
						<string>Sidebar Content.Split Image Right</string>
						<string>Sidebar Title.Bold</string>
						<string>Sidebar Title.Break</string>
						<string>Site Title - Font Family.Montserrat</string>
						<string>Site Title.Bold</string>
						<string>Theme Tools.Disable Parallax Social Icon Effect</string>
						<string>Theme Tools.Hide Cartloom Cart</string>
						<string>Theme Tools.Hide Link Hover Underline</string>
						<string>Theme Tools.Horizonal Social Icons</string>
						<string>Theme Tools.Load Responsive Tools</string>
					</array>
				</dict>
				<key>Variables</key>
				<dict>
					<key>%aside_headings_font_size%</key>
					<string>4</string>
					<key>%aside_max_width%</key>
					<string>950</string>
					<key>%aside_offset%</key>
					<string>-90</string>
					<key>%aside_pad_bottom%</key>
					<string>0</string>
					<key>%aside_pad_bottom_mobile%</key>
					<string>0</string>
					<key>%aside_pad_top%</key>
					<string>30</string>
					<key>%aside_pad_top_mobile%</key>
					<string>60</string>
					<key>%aside_split%</key>
					<string>42</string>
					<key>%banner_bottom_padding%</key>
					<string>20</string>
					<key>%copyright_font_size%</key>
					<string>21</string>
					<key>%footer_font_size%</key>
					<string>16</string>
					<key>%main_content_max_width%</key>
					<string>1000</string>
					<key>%nav_font_size%</key>
					<string>20</string>
					<key>%site_logo_desk_max_width%</key>
					<string>85</string>
					<key>%site_logo_mob_max_width%</key>
					<string>75</string>
					<key>%site_slogan_bottom_padding%</key>
					<string>30</string>
					<key>%site_slogan_desk_font_size%</key>
					<string>30</string>
					<key>%site_slogan_top_padding%</key>
					<string>120</string>
					<key>%site_title_bottom_spacing%</key>
					<string>9</string>
					<key>%site_title_desk_font_size%</key>
					<string>7</string>
					<key>%site_title_letter_spacing%</key>
					<string>3</string>
					<key>%site_title_mob_font_size%</key>
					<string>9</string>
					<key>%site_title_top_spacing%</key>
					<string>10</string>
					<key>%site_width%</key>
					<string>1100</string>
					<key>%social_icon_size%</key>
					<string>30</string>
					<key>%social_icons_offset%</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Sidebar.as</string>
			</array>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
