<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerAltText</key>
				<string>Theme Style Options</string>
				<key>BannerIdentifier</key>
				<string>77A29AB3-E0DC-4A6A-8FB4-755B7919A3E6</string>
				<key>BrowserTitle</key>
				<string>Theme Options - Aspen RapidWeaver 8 Theme</string>
				<key>CreatedDate</key>
				<date>2019-04-19T19:19:38Z</date>
				<key>CustomThemeName</key>
				<string>Aspen</string>
				<key>ID</key>
				<string>page14</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Tailor</string>
				<key>PageTitle</key>
				<string>Theme Styles</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/burton/websites/Aspen/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-08-14T00:12:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/rwthemeicon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ISo+mAClJ2DE
								xboUjVjOSg==
								</data>
								<key>Size</key>
								<integer>198498</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								eQvTSB/MuzS3
								/puwA2KFYg==
								</data>
								<key>Size</key>
								<integer>6969</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page14</string>
						<key>SiteRoot</key>
						<string>tools/theme-styles</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
