<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>322305F4-4FBA-4EF9-8E4F-4B673B7E2E83</string>
				<key>CreatedDate</key>
				<date>2019-02-10T21:48:16Z</date>
				<key>CustomThemeName</key>
				<string>Aspen</string>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>aspen-a</string>
				<key>PageTitle</key>
				<string>Features</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.2</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/burton/websites/Aspen/</key>
					<dict>
						<key>CreationDate</key>
						<date>2021-08-14T00:12:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/feature_stack.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zQhzKU6P07OL
								g8kZculMwA==
								</data>
								<key>Size</key>
								<integer>7914</integer>
							</dict>
							<key>files/imgFull-469.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5qP9vV1A9X2q
								5y09rsP43w==
								</data>
								<key>Size</key>
								<integer>78138</integer>
							</dict>
							<key>files/imgFull-80.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zTN2JOYtEuDd
								RGIm4RsM5g==
								</data>
								<key>Size</key>
								<integer>65667</integer>
							</dict>
							<key>files/included.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lINSpgshhx1J
								cXXB6fobFw==
								</data>
								<key>Size</key>
								<integer>233880</integer>
							</dict>
							<key>files/sidebar_stack.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W49kWbh5A4fX
								XxtrP4Oq6A==
								</data>
								<key>Size</key>
								<integer>8850</integer>
							</dict>
							<key>files/stacks-image-175ab71.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dXXyQ9MP+a4i
								Y7JOZVJE2Q==
								</data>
								<key>Size</key>
								<integer>22227</integer>
							</dict>
							<key>files/stacks-image-1eca67e.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q1beaOwQx8kS
								FC+oF0sxbA==
								</data>
								<key>Size</key>
								<integer>39914</integer>
							</dict>
							<key>files/stacks-image-2340332.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8/q9VCtEYPtJ
								mOMx164WHQ==
								</data>
								<key>Size</key>
								<integer>55671</integer>
							</dict>
							<key>files/stacks-image-2e7ef46.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AVwNkZNGBrP0
								eCdBKetuYw==
								</data>
								<key>Size</key>
								<integer>45962</integer>
							</dict>
							<key>files/stacks-image-2ecdedb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VK5heEaI8MO5
								N08O6wjJew==
								</data>
								<key>Size</key>
								<integer>39704</integer>
							</dict>
							<key>files/stacks-image-35906c7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PdDy4IyCiK6D
								tGBZlrobNQ==
								</data>
								<key>Size</key>
								<integer>34718</integer>
							</dict>
							<key>files/stacks-image-41b5c45.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QeHhh4kTbgip
								1UXsr8Uodg==
								</data>
								<key>Size</key>
								<integer>593633</integer>
							</dict>
							<key>files/stacks-image-5231cc1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								02W+19rCsieo
								5e6W7bVvdA==
								</data>
								<key>Size</key>
								<integer>9619</integer>
							</dict>
							<key>files/stacks-image-71f39f7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+3NyZ0f7qUEN
								g7qQVdlu+Q==
								</data>
								<key>Size</key>
								<integer>49593</integer>
							</dict>
							<key>files/stacks-image-7b065ca.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9YGl5TUrgSTQ
								mG5mJMU17A==
								</data>
								<key>Size</key>
								<integer>268821</integer>
							</dict>
							<key>files/stacks-image-84d2ea7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xoYyPBe22m1s
								+7n0ToVamQ==
								</data>
								<key>Size</key>
								<integer>39760</integer>
							</dict>
							<key>files/stacks-image-87e482c.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								l6ZVpnqzcz0S
								IrLW8+vp9g==
								</data>
								<key>Size</key>
								<integer>41091</integer>
							</dict>
							<key>files/stacks-image-98b6940.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0wNExfJCxkwg
								puIrQuD3pA==
								</data>
								<key>Size</key>
								<integer>39315</integer>
							</dict>
							<key>files/stacks-image-c42cb09.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4yGVZRF1Gk/x
								AMq69oL1Ug==
								</data>
								<key>Size</key>
								<integer>46029</integer>
							</dict>
							<key>files/stacks-image-c960120.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NWdppUZFcsqR
								lAHoRTQjsA==
								</data>
								<key>Size</key>
								<integer>39820</integer>
							</dict>
							<key>files/stacks-image-ea76056.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EAS31iCKSYDI
								OE8SwIdncg==
								</data>
								<key>Size</key>
								<integer>42088</integer>
							</dict>
							<key>files/stacks-image-f93f63d-1198x662.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6NuHRRNC0cVJ
								v4ZMfIFtvg==
								</data>
								<key>Size</key>
								<integer>514422</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5MsOVT5d8mht
								rfCNtCfPug==
								</data>
								<key>Size</key>
								<integer>1850</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1Pae3w1pMek8
								7YqXuf5UKg==
								</data>
								<key>Size</key>
								<integer>14261</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>files/theme_project.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BrEiuYLLXzQv
								1h/QHJIV4g==
								</data>
								<key>Size</key>
								<integer>176380</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xyHD1X/jXARS
								8zfuagNILQ==
								</data>
								<key>Size</key>
								<integer>23562</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
